@model TaskApp2.Models.TaskTemplate

@{
    ViewData["Title"] = "Create";
}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
 function DivHide(){
       $("#divDayOfWeek").hide(250);
 }

 function DivShow(){
      $("#divDayOfWeek").show(250);
 }
  </script>

 <script type="text/javascript">
 $(function(){
    var selected_freq= $( "#RepeatFreq option:selected" ).val();
    if( (selected_freq == @((int)TaskApp2.RepeatFrequencyEnum.Weekly) ) | (selected_freq == @((int)TaskApp2.RepeatFrequencyEnum.BiWeekly) ) ) 
    {
        DivShow();
    }
    else
    {
        DivHide();
    }
     
     $('#RepeatFreq').on('change',function()
     {
        var selected_freq= $( "#RepeatFreq option:selected" ).val();
        if(selected_freq == @((int)TaskApp2.RepeatFrequencyEnum.Weekly) )
        {
            DivShow();
        }
        else
        {
            DivHide();
        }
     });
 });
 </script>


<h2>Create</h2>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div id="divSelectFreq" class="form-group">
                <select asp-for="RepeatFreq" asp-items="Html.GetEnumSelectList<RepeatFrequencyEnum>()"></select>
            </div>
                <div id="divDayOfWeek" class="form-group" style="display: block;">
                    <select asp-for="SelectedDay" asp-items="Html.GetEnumSelectList<DayOfWeek>()"></select>
                </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
